<!-- app/views/employees/show.html.erb -->
<p>
    <strong>First Name:</strong>
    <%= @employee.first_name %>
    <strong>Last Name:</strong>
    <%= @employee.last_name %>
    <strong>Email:</strong>
    <%= @employee.email %>
</p>

<%= link_to 'Back', employees_path %>