*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Session Login Design Start Here */

.sessions-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #A49B9B;
}
.session-background{
    height: 100% !important;
    border-radius: 15px 2px 2px 15px;
    opacity: 0.75;
    filter: contrast(1.25) blur(1.25px);
}
.session-login{
    padding: 50px;
    width: 400px;
    border-radius: 0 15px 15px 0;
    height: 370.7px;
}
.session-img{
    width: 45%;
}
.main-session{
    display: flex;
    box-shadow: -10px 10px 33px 0px white;
    border-radius: 15px;
    width: 53%;
    justify-content: center;
}